img{
    border: 1px solid black;
    border-radius: 10px;
}

#pro{
    border-radius: 100px;
    border: 0px;
    border: 1px solid black;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(92, 72, 49);
    background-color: rgb(255, 239, 212);
}

a{
    color: rgb(92, 72, 49);
}